@import "tailwindcss";
@theme {
  /* Colors */
  --color-ftvprimary: #37ba58;
  --color-ftvprimary-400: #40c461;
  --color-ftvsecondary: #6360f1;
  --color-ftvoffwhite: #f3f7f4;
  --color-ftvblack: #171a1f;
  --color-ftvblue: #122b47;
  --color-ftvpurple-100: #6360f11a;
  --color-ftvgradient-from: #615ef8;
  --color-ftvgradient-via: #e4f3bf;
  --color-ftvgradient-to: #99ffff;
  --color-ftvgrey: #303437;
  --color-ftverror: rgb(235, 18, 18);

  /* Custom Breakpoints */
  --breakpoint-tabletlg: 62rem;
  --breakpoint-tabletmd: 55rem;
  --breakpoint-mobilelandscape: 47rem;
  --breakpoint-mobilelg: 35.43rem;
  --breakpoint-mobilemd: 30rem;
  --breakpoint-mobilesm: 23.4rem;
  --breakpoint-mobilexs: 21.56rem;
  --breakpoint-mobilexxs: 20rem;
}

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Grotesk", "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: var(--color-ftvsecondary);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(221, 232, 245);
  border-radius: 25px;
}
input {
  accent-color: var(--color-ftvprimary);
}

.plusjakartasans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.navlinks {
  display: flex;
  gap: 1rem;
}

.partners img {
  width: 150px;
  height: 80px;
  box-sizing: border-box;
  padding: 5px;
  filter: grayscale(100%);
  border-radius: 10px;
  object-fit: contain;
  cursor: pointer;
}
.partners img:hover {
  filter: none;
}

.services {
  background-image: url("/service-line-bg.svg");
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.cta {
  background-image: url("/cta-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.animate-slide-in {
  animation: slide-in 0.3s ease-in-out;
}

.animate-slide-out {
  animation: slide-out 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--color-ftvprimary);
  cursor: pointer;
}

.services-container::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: var(--color-ftvsecondary);
}
.services-container::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border: 1px solid var(--color-ftvsecondary);
  border-radius: 25px;
}

table::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--color-ftvprimary);
  cursor: pointer;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
